spring:
  datasource:
    url: jdbc:mysql://localhost:3306/taotaoke
    username: root
    password: root@2018
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    connectionProperties: druid.stat.mergeSql=true
  mvc:
    view:
      prefix: /WEB-INF/Jsp/
      suffix: .jsp
server:
  port: 1999
  
mybatis: 
  mapper-locations: classpata*:mapper/*Mapper.xml
  type-aliases-package: com.shangcheng.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl 
  